@using CoralSea.Model.Community;
@using CoralSea.Model.Tag;
@{
    ViewBag.Title = "发现圈子";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";

    var hotTags = ViewData["HotTags"] as List<TagModel> ?? new List<TagModel>();
    var recos = ViewData["RecoComm"] as List<CommunityInfoModel> ?? new List<CommunityInfoModel>();
}
@model List<CommunityInfoModel>

<div class="row">
    <div id="community-master-area" class="col-md-8 panel">
        @foreach (var aCommunity in Model)
        {
            <div class="community-area">
                <div>
                    <img class="community-image" src="@aCommunity.Image" alt="Community Image" />
                </div>
                <div class="community-content">
                    <div class="community-path">
                        @if (!string.IsNullOrWhiteSpace(aCommunity.ParentName))
                        {
                            <a href="javascript:void(0)">@aCommunity.ParentName</a>
                            <span> >> </span>
                        }
                        <a href="javascript:void(0)">@aCommunity.Name</a>
                        <label class="label label-@(aCommunity.HasCurrentUserJoin ? "success" : "default") community-status">@(aCommunity.HasCurrentUserJoin ? "已加入" : "未加入")</label>
                    </div>
                    <hr />
                    <div class="community-description">
                        @aCommunity.Description
                    </div>
                    <hr />
                    <div>
                        <ul class="community-option-group">
                            <li>
                                <span>
                                    @foreach (var aTag in aCommunity.Tags)
                                    {
                                        <span class="label label-info">@aTag.TagName</span>
                                    }
                                </span>
                                <span>创建于 @aCommunity.CreateTime.ToString("yyyy年MM月dd日")</span>
                                <span>组内成员 @aCommunity.MemberCount 人</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        <ul class="pagination">
            <li class="disabled"><a href="javascript:void(0)"><i class="icon-angle-left"></i></a></li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">6</a></li>
            <li><a href="javascript:void(0)">7</a></li>
            <li><a href="javascript:void(0)">8</a></li>
            <li><a href="javascript:void(0)">9</a></li>
            <li><a href="javascript:void(0)">10</a></li>
            <li><a href="javascript:void(0)"><i class="icon-angle-right"></i></a></li>
        </ul>
    </div>
    <div id="tags-master-area" class="col-md-3">
        <p class="tag-title">热门标签</p>
        <hr />
        @foreach (var aTag in hotTags)
        {
            <label class="label label-primary hot-tag">@aTag.TagName</label>
        }

        <div id="reco-master-area">
            <div class="reco-area">
                <p class="tag-title">推荐圈子</p>
                <hr />
                @foreach (var aReco in recos)
                {
                    <div>
                        <span class="reco">@aReco.Name <a href="javascript:void(0)">查看详细</a></span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section headresource {
    <link href="~/Content/Community/GuessCommunity.css" rel="stylesheet" type="text/css" />
}