@using CoralSea.Model.Community
@using CoralSea.Model.User
@using CoralSea.Model.Rank
@model List<TopicModel>
@{
    ViewBag.Title = "圈子";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    var userInfo = ViewData["CurrentUserInfo"] as UserInfoModel;
    var rankLevel = ViewData["RankLevel"] as RankLevelModel ?? new RankLevelModel();
}
<div>
    <div id="total-content" class="row">
        <div class="col-md-8 community-master-area">
            @*<div class="row">
                <!-- 圈子导航栏 开始 -->
                <div class="community-nav">
                    <div class="community-nav-button active">
                        <i class="icon-user"></i>
                        <span>系统架构</span>
                    </div>
                    <div class="community-nav-button">
                        <i class="icon-comments"></i>
                        <span>专项圈子</span>
                    </div>
                    <div class="community-nav-button">
                        <i class="icon-group"></i>
                        <span>兴趣组</span>
                    </div>
                    <div class="community-nav-button active">
                        <i class="icon-lightbulb"></i>
                        <span>活动</span>
                    </div>
                </div>
                <!-- 圈子导航栏 结束 -->
            </div>*@
            <hr style=" margin: 12px 0px; width: 100%;" />
            <div class="communitys-area">
                @foreach (var aEntity in Model)
                {
                    <div class="a-community">
                        <img src="@aEntity.LastReply.ReplyMemberImage" alt="Avatar" class="pull-left avatar">
                        <div class="community-content">
                            <div class="community-title">
                                <p style="">
                                    <a href="javascript:void(0)">@aEntity.LastReply.ReplyMemberName</a>
                                    回应了
                                    <a href="javascript:void(0)">@aEntity.TopicTitle</a>
                                    主题
                                    <span class="group-name">
                                        <a href="javascript:void(0)">@aEntity.Owner.Name</a>
                                        <span class="timestamp">@aEntity.LastReply.ReplyTime</span>
                                    </span>
                                </p>
                            </div>
                            <div class="community-inner-content">
                                @aEntity.LastReply.Content
                            </div>
                        </div>
                        <div class="community-operation">

                        </div>
                        <hr />
                    </div>
                }
                <div class="text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="javascript:void(0)"><i class="icon-angle-left"></i></a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)">5</a></li>
                        <li><a href="javascript:void(0)">6</a></li>
                        <li><a href="javascript:void(0)">7</a></li>
                        <li><a href="javascript:void(0)">8</a></li>
                        <li><a href="javascript:void(0)">9</a></li>
                        <li><a href="javascript:void(0)">10</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="right-widget">
                <div class="widget-head">
                    <div>用户信息</div>
                </div>
                <div class="widget-content">
                    <!-- 用户信息 开始 -->
                    <div class="user-info">
                        <div class="bd">
                            <div class="basic-info" style="text-align: center">
                               <img src="http://shuxue.chazidian.com/uploadfile/2014/0630/20140630080100878.jpg" class="userface" alt="">
                                <div class="user-info">
                                    <div class="pl">@userInfo.Name</div>
                                </div>
                            </div>
                            <div class="user-intro">
                                <dl class="dl-horizontal">
                                    <dt>入职时间</dt>
                                    <dd>@userInfo.EntryTime</dd>
                                    <dt>组织架构</dt>
                                    <dd>@userInfo.GroupName</dd>
                                    <dt>积分等级</dt>
                                    <dd>@(string.Format("{3}皇冠{0}日{1}月{2}星", rankLevel.Sun, rankLevel.Moon, rankLevel.Star, rankLevel.Crown))</dd>
                                    <dt>兴&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;趣</dt>
                                    <dd>
                                        <div>
                                            @foreach (var aString in userInfo.Interesting)
                                            {
                                                <span class="label label-info" style="margin: 2px;display: inline-block">@aString</span>
                                            }
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="ex2"><span></span></div>
                    </div>
                </div>
                <!-- 用户信息 结束 -->
            </div>
            <div class="right-widget">
                <div class="widget-head">
                    <div>待跟进事项</div>
                </div>
                <div class="widget-content">
                    <!-- 待跟进事项 开始 -->
                    <div class="user-info">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Topic</th>
                                    <th>最后回复</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="javascript:void(0)">库存优化专项汇报</a></td>
                                    <td>牛勤超 在 2015/11/29 00:03</td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0)">库存优化专项汇报</a></td>
                                    <td>牛勤超 在 2015/11/29 00:03</td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0)">库存优化专项汇报</a></td>
                                    <td>牛勤超 在 2015/11/29 00:03</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center;"><a href="javascript:void(0)">查看更多</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 待跟进事项 结束 -->
            </div>
            <div class="right-widget">
                <div class="widget-head">
                    <div>热门活动</div>
                    <div class="pull-right">
                        <a href="javascript:void(0)">换一组</a>
                    </div>
                </div>
                <div class="widget-content">
                    <!-- 热门活动 开始 -->
                    <div class="user-info">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>主题</th>
                                    <th>时间地点</th>
                                    <th>热度</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="javascript:void(0)">Hackathon决赛。</a></td>
                                    <td>2015/11/29 7点 在 5B-311</td>
                                    <td>94°C</td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0)">研发月度大会。</a></td>
                                    <td>2015/11/29 7点 在 5B-311</td>
                                    <td>84°C</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align:center;"><a href="javascript:void(0)">查看更多</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 热门活动 结束 -->
            </div>
            <div class="right-widget">
                <div class="widget-head">
                    <div>系统状态</div>
                </div>
                <div class="widget-content">
                    <!-- 系统状态 开始 -->
                    <div class="system-status">
                        欢迎新员工：14041李测试。
                    </div>
                </div>
                <!-- 系统状态 结束 -->
            </div>
        </div>
    </div>
</div>
@section headresource {
    <link href="~/Content/Community/Commnuity.css" rel="stylesheet" type="text/css" />
}
@section bottomresource {
    <script>
        $(function () {
            $(".community-nav-button").click(function () {
                var $this = $(this);
                if ($this.is(".active")) {
                    $this.removeClass("active");
                }
                else {
                    $this.addClass("active");
                }
            });
        });
    </script>
}